---
layout: default
make-smaller-titles: true
---


<div class="container-fluid index">
  <div class="row index all-posts">

    <h1 class="header author-header">{{ site.author_name }}</h1>
    <h2 class="header" itemprop="headline">Tutti gli articoli</h2>
    <h2 class="header categories" itemprop="headline"><small>ordinati per

      <div class="dropdown btn-group">
        <button class="btn btn-categories dropdown-toggle btn-xs" type="button" data-toggle="dropdown">Categoria
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="{{ site.baseurl }}/posts/">Anno</a></li>
        </ul>
      </div>

    </small></h2>
      {% for category in site.categories %}
      <div class="col-md-12 content-panel articles">
        <h2 id="{{ category | first }}-ref">{{ category | first }}</h2>
        <ul>
          {% for posts in category %}
            {% for post in posts %}
              {% if post.title %}
                {% assign months = "gennaio|febbraio|marzo|aprile|maggio|giugno|luglio|agosto|settembre|ottobre|novembre|dicembre" | split: "|" %}
                {% assign m = post.date | date: "%-m" | minus: 1 %}
                {% assign day = post.date | date: "%-d" %}
                {% assign month = months[m] %}
                {% assign year = post.date | date: "%Y" %}

                <li>
                  <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                  <small class="hidden-xs">{{ day }} {{ month }} {{ year }}</small>
                </li>
              {% endif %}
            {% endfor %}
          {% endfor %}

        </ul>
      </div>
      {% endfor %}

  </div>
</div>
